%h1
  Every note in existence

%table
  %thead
    %tr
      %th ID
      %th Comment
      %th Author
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.id
        %td
          = note.content
        %td
          = note.user.id
