%h1
  Every note in existence

%table
  %thead
    %tr
      %th ID
      %th Content
      %th Author
      %td Actions
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.id
        %td
          = note.content
        %td
          = note.user.id
        %td
          = link_to(web_comments_path(note), title: "See comments")
